<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Записаться на экскурсию</title>
</head>
<body>
<div layout:fragment="content">

    <form class="needs-validation text-center" novalidate method="POST" th:action="@{/tours/addUserTour}"  th:object="${addUserTourForm}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" name="tourId" id="tourId" required>
                        <option selected th:value="${null}">Выберете тур</option>
                        <option th:each="tour : ${tours}" th:value="${tour.getId()}" th:text="${tour.getName()}"></option>
                    </select>
                    <label for="tourId">Название тура</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <p>Оплата осуществляется на месте проведения </p>
        <div id="tourInfo" class="mt-3"></div>
        <div class="mt-3 row g-2">
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>

</div>
</body>
</html>
