<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Обновить тур</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3 text-center">Обновить тур</h3>
    <form class="needs-validation" novalidate  method="POST" enctype="multipart/form-data" th:action="@{/tours/update}"
          th:object="${tourForm}" >
        <input type="hidden" name="id"
               th:value="${id}">
        <label for="name">Наименование:</label><br>
        <input th:value="${tour.getName()}" type="text" id="name" name="name" class="form-control" required>
        <div class="invalid-feedback">Обязательное поле для заполнения</div><br>


        <label for="numberOfPeople">Кол-во человек:</label><br>
        <input type="text" th:value="${tour.getNumberOfPeople()}" id="numberOfPeople" name="numberOfPeople" class="form-control"  required>
        <div class="invalid-feedback">Обязательное поле для заполнения</div><br>

        <label for="ageAt">Ограничение по возрасту:</label><br>
        <input type="text" th:value="${tour.getAgeAt()}" id="ageAt" name="ageAt" class="form-control" required>
        <div class="invalid-feedback">Обязательное поле для заполнения</div><br>


        <div class="col-md mt-3 mb-3">
            <div class="form-floating">
                <input th:value="${tour.getStartTour()}" name="startTour" type="datetime-local" class="form-control" id="startTour"
                       placeholder="Введите начало тура" required>
                <label  for="startTour">Начало тура</label>
                <div class="invalid-feedback">Обязательное поле для заполнения</div>
            </div>
        </div>
        <div class="col-md mt-3 mb-3">
            <div class="form-floating">
                <select class="form-select" name="status" id="status" required>
                    <option selected th:value="${tour.getStatus()}" th:text="${tour.getStatus().getStatusTextDisplay()}"></option>
                    <option th:each="status : ${T(com.sez.promtourism.PromTourism.model.Status).values()}"
                            th:value="${status}" th:text="${status.getStatusTextDisplay()}"></option>
                </select>
                <label for="status">Статус</label>
                <div class="invalid-feedback">Обязательное поле для заполнения</div>
            </div>
        </div>

        <div class="col-md mt-3 mb-3">
        <div class="form-floating">
            <select class="form-select" name="residentId" id="residentId" required>
                <option selected th:value="${tour.getResidentId()}">Изначальный резидент </option>
                <option
                        th:each="resident : ${residents}"
                        th:value="${resident.getId()}"
                        th:text="${resident.getName()}">
                </option>
            </select>
            <label for="residentId">Наименование резидента</label>
            <div class="invalid-feedback">Обязательное поле для заполнения</div>
        </div>
        </div>
            <div class="col-md mt-3 mb-3">
        <div class="form-floating">
            <select class="form-select" name="typeOfTourId" id="typeOfTourId" required>
                <option selected th:value="${tour.getTypeOfTourId()}">Изначальный тип тура</option>
                <option
                        th:each="typeOfTour : ${typeOfTours}"
                        th:value="${typeOfTour.getId()}"
                        th:text="${typeOfTour.getName()}">
                </option>
            </select>
            <label for="residentId">Название типа тура</label>
            <div class="invalid-feedback">Обязательное поле для заполнения</div>
        </div>
            </div>
        <button type="submit" class="btn btn-prom" onclick="validateForm()">Обновить</button>
        <button type="button" class="btn btn-prom" onclick="window.history.back()">Назад</button>
    </form>
</div>
</body>
</html>
