<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Отзывы</title>
</head>
<body>
<div layout:fragment="content">

    <div class="row" >
        <div class="col-lg-4" th:each="review : ${reviews}">
            <div class="card mb-3" >
                <div class="row g-0">
                    <div class="col">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
<!--                            <h5 class="card-title" th:text="${@residentService.getOne(review.residentId).getName()}"></h5>-->
                                    <h5 class="card-title" th:text="${review.getFirstName()} + ' ' + ${review.getLastName()}"></h5>
                                </div>

                                <div class="col">
                            <div class="starsContainer text-end" th:value="${review.getScore()}"></div>
                            </div>
                            </div>
                            <p class="card-text" th:text="${review.getStartTourFormatter()}"></p>
                            <p class="card-text text-blue" th:text="${review.getNameTypeOfTour()}"></p>
                            <p class="card-text" th:text="${review.getDescription()}"></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <nav aria-label="Pagination" th:if="${reviews.getTotalPages() gt 0}">
            <ul class="pagination justify-content-center font-weight-bold">
                <li class="page-item" th:classappend="${reviews.number eq 0} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/reviews?page={id}(id=${reviews.number lt 2 ? 1 : reviews.number})}"
                       aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${i eq reviews.number + 1} ? 'active'"
                    th:each="i : ${#numbers.sequence( 1, reviews.totalPages, 1)}">
                    <a class="page-link" th:href="@{/reviews?page={id}(id=${i})}" th:text="${i}"
                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                </li>
                <li class="page-item" th:classappend="${reviews.number eq reviews.totalPages - 1} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/reviews?page={id}(id=${reviews.number + 2})}"
                       aria-label="Next" title="Next Page" data-toggle="tooltip">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    </div>
</body>
</html>
