<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Регистрация</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Редактировать профиль</h3>
    <form method="POST" class="needs-validation" novalidate  th:action="@{/users/profile/update}"
          th:object="${userForm}">
        <input type="hidden" name="id"
               th:value="${userForm.getId()}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="firstName" th:value="${userForm.getFirstName()}" type="text" class="form-control" id="firstName" placeholder="Введите имя"
                           required>
                    <label for="firstName">Имя</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="lastName" th:value="${userForm.getLastName()}" type="text" class="form-control" id="lastName" placeholder="Введите фамилию"
                           required>
                    <label for="lastName">Фамилия</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="middleName" th:value="${userForm.getMiddleName()}" type="text" class="form-control" id="middleName"
                           placeholder="Введите отчество">
                    <label for="middleName">Отчество</label>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="birthDate" th:value="${userForm.getBirthDate()}" type="date" class="form-control" id="birthDate"
                           placeholder="Введите дату рождения" required>
                    <label for="birthDate">Дата рождения</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <textarea name="address" th:text="${userForm.getAddress()}" type="text" class="form-control" id="address"
                              placeholder="Адрес"></textarea>
                    <label for="address">Адрес</label>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-3">
                <button type="submit" class="btn btn-prom" onclick="validateForm()">Обновить</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
