<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль пользователя</title>
</head>
<body>
<div layout:fragment="content">






    <div class="mt-3">
        <form class="row g-1">
            <div class="row border">
                <div class="row">
                    <div class="col-lg-3">
                        <label for="userLogin" >Логин</label>

                        <p th:text="${user.getLogin()}" type="text" readonly class="form-control-plaintext" id="userLogin">

                    </div>
                    <div class="col-lg-3">
                        <label for="userName" >Имя</label>

                        <p th:text="${user.getFirstName()}" type="text" readonly class="form-control-plaintext" id="userName">

                    </div>
                    <div class="col-lg-3">
                        <label for="lastName" >Фамилия</label>

                        <p th:text="${user.getLastName()}" type="text" readonly class="form-control-plaintext" id="lastName">
                    </div>

                    <div class="col-lg-3">
                        <label for="middleName" >Отчество</label>

                        <p th:text="${user.getMiddleName()}" type="text" readonly class="form-control-plaintext" id="middleName">
                    </div>
                    <div class="col-lg-3">
                        <label for="email">Почта</label>

                        <p th:text="${user.getEmail()}" type="text" readonly class="form-control-plaintext" id="email">
                    </div>
                    <div class="col-lg-3">
                        <label for="birthDate" >Дата рождения</label>

                        <p th:text="${user.getBirthDate()}" type="text" readonly class="form-control-plaintext" id="birthDate">
                    </div>
                    <div class="col-lg-3">
                        <label for="phone" >Телефон</label>

                        <p th:text="${user.getPhone()}" type="text" readonly class="form-control-plaintext" id="phone">
                    </div>
                    <div class="col-lg-3">
                        <label for="address" >Адрес</label>

                        <p th:text="${user.getAddress()}" type="text" readonly class="form-control-plaintext" id="address">
                    </div>
                </div>
                <div class="mt-2">
                    <div class="row">

                        <div class="col">
                            <a sec:authorize="isAuthenticated() "
                               th:if="${#authentication.getPrincipal().getId()} == ${user.id}" class="btn btn-prom"
                               th:href="'/users/profile/update/' + ${user.id}">Редактировать</a>
                        </div>
                        <div class="col">
                            <a sec:authorize="isAuthenticated()"
                               th:href="'/users/change-password/user'"
                               class="btn btn-prom"
                               aria-disabled="true">Изменить пароль</a>
                        </div>
                        <div class="col text-end">
                            <a sec:authorize="isAuthenticated()"
                               href="/logout" class="btn btn-prom" role="button" aria-disabled="true">Выйти</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
            <div class=" mb-3">
                <hr class="hr"/>
                <h3>Фильтр</h3>

                <form method="POST" th:action="@{/tours/search}" th:object="${tourSearchForm}">
                    <div class="mt-0 row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select" name="status" id="status" required>
                                    <option selected th:value="${null}">Выберете статус</option>
                                    <option th:value="ASSIGNED">Запланирован</option>
                                    <option th:value="COMPLETED">Проведён</option>
                                    <option th:value="CANCELLED">Отменён</option>
                                </select>
                                <label for="status">Статус</label>

                            </div>
                        </div>

                        <div class="row g-2">
                            <button type="submit" class="btn btn-outline-primary">Фильтровать</button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="row mb-3" >
                <div class="col">
                    <a sec:authorize="isAuthenticated() && hasRole('ADMIN')"
                       th:href="@{/tours/add}"
                       class="btn btn-prom"
                       role="button"
                       style="float: right"
                       aria-disabled="true">Добавить тур</a>
                </div>
                <div class="col">
                    <a sec:authorize="isAuthenticated() && hasRole('ADMIN')"
                       th:href="@{/residents/report}"
                       class="btn btn-prom"
                       role="button"
                       style="float: right"
                       aria-disabled="true">Посмотреть отчёт</a>
                </div>
            </div>

            <div class="row" >
                <h2 class="text-blue text-center mb-3"> Все экскурсии</h2>
                <div class="col-lg-3" th:each="tour : ${tours}">
                    <div class="card text-center mb-3" >
                        <div class="row g-0">
                            <div class="col">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <!--                            <h5 class="card-title" th:text="${@residentService.getOne(review.residentId).getName()}"></h5>-->
                                            <h5 class="card-title" th:text="${tour.getName()}"></h5>
                                        </div>

                                    </div>
                                    <p class="card-text" th:text="${tour.getStartTourFormatter()}"></p>
                                    <p class="card-text text-blue" th:text="${tour.getNameResident()}"></p>
                                    <p class="card-text text-blue" th:text="${tour.getNameTypeOfTour()}"></p>
                                    <p class="card-text text-azure" th:text="${tour.getStatus().getStatusTextDisplay()}"></p>
                                    <p class="card-text">Кол-во зарегистрированных людей: <span th:text="${tour.getNumberOfRegisteredPeople()}"></span></p>
                                    <a  class="btn btn-sm btn-outline-success mb-3" th:href="'/tours/update/' + ${tour.getId()}">Обновить</a>
                                    <a  class=" btn btn-sm btn-outline-info mb-3" th:href="'/users/listUsersByTour/' + ${tour.getId()}">Посмотеть пользователей</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div>
            <nav aria-label="Pagination" th:if="${tours.getTotalPages() gt 0}">
                <ul class="pagination justify-content-center font-weight-bold">
                    <li class="page-item" th:classappend="${tours.number eq 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{'/users/profile/' + ${user.getId()} + '?page=' + ${tours.number lt 2 ? 1 : tours.number}}"
                           aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i eq tours.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence( 1, tours.totalPages, 1)}">
                        <a class="page-link" th:href="@{'/users/profile/' + ${user.getId()}(page=${i})}" th:text="${i}" th:title="'Page ' + ${i}" data-toggle="tooltip"></a>
                    </li>
                    <li class="page-item" th:classappend="${tours.last} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{'/users/profile/' + ${user.getId()}(page=${tours.number + 2})}"
                           aria-label="Next" title="Next Page" data-toggle="tooltip">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>
