<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Резиденты</title>
</head>
<body>
<div layout:fragment="content">
    <div class=" mb-3">
        <hr class="hr"/>
        <h3>Поиск резидента</h3>
        <form method="POST" th:action="@{/residents/search}" th:object="${bookSearchForm}">
            <div class="mt-0 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input name="name" type="text" class="form-control" id="name"
                               placeholder="Название резидента">
                        <label for="name">Название резидента</label>
                    </div>
                </div>

                <div class="row g-2">
                    <button type="submit" class="btn btn-outline-primary">Найти резидента</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row mb-3" >
    <div class="col">
        <a sec:authorize="isAuthenticated() && hasRole('ADMIN')"
                th:href="@{/residents/add}"
                class="btn btn-prom"
                role="button"
                style="float: right"
                aria-disabled="true">Добавить резидента</a>
    </div>
    </div>
    <div class="row" >
    <div class="col-12 col-lg-4" th:each="resident : ${residents}">
    <div class="card text-center mb-3" >
        <img th:src="@{'/residents/images/' + ${resident.getPhoto()}}" class="card-img-top img-border" alt="...">
        <div class="card-body">

            <h3 class="card-title" th:text="${resident.getName()}"></h3>
            <p class="card-text" th:text="${resident.getDescription()}"></p>
            <a  th:href="'/residents/' + ${resident.getId()}" class="btn btn-prom">Подробнее о заводе</a>
        </div>
    </div>
    </div>
    </div>
    <div>
        <nav aria-label="Pagination" th:if="${residents.getTotalPages() gt 0}">
            <ul class="pagination justify-content-center font-weight-bold">
                <li class="page-item" th:classappend="${residents.number eq 0} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/residents?page={id}(id=${residents.number lt 2 ? 1 : residents.number})}"
                       aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${i eq residents.number + 1} ? 'active'"
                    th:each="i : ${#numbers.sequence( 1, residents.totalPages, 1)}">
                    <a class="page-link" th:href="@{/residents?page={id}(id=${i})}" th:text="${i}"
                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                </li>
                <li class="page-item" th:classappend="${residents.number eq residents.totalPages - 1} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/residents?page={id}(id=${residents.number + 2})}"
                       aria-label="Next" title="Next Page" data-toggle="tooltip">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>
</body>
</html>
