<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Резиденты </title>
</head>
<body>
<div layout:fragment="content">

    <div class="row" >
        <h3 class="mt-3 mb-3 text-center">Общий отчёт о резидентах</h3>
        <div class="col-lg-4" th:each="resident : ${residents}">
            <div class="card text-center mb-3" >
                <div class="card-body">

                    <h5 class="card-title" th:text="${resident.getName}"></h5>
                    <p class="card-text" th:text="'Количество туров: ' + ${resident.getNumberOfTours()}"></p>
                    <p class="card-text" th:text="'Количество отзывов: ' + ${resident.getNumberOfReviews()}"></p>
                    <p class="card-text text-azure" th:text="'Средняя оценка: ' + ${resident.getAverageRating()}"></p>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
