<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Обновить резидента</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3 text-center">Обновить резидента</h3>
    <form  class="needs-validation" novalidate method="POST" enctype="multipart/form-data" th:action="@{/residents/update}"

           th:object="${residentForm}" >
        <input type="hidden" name="id"
               th:value="${resident.getId()}">

        <label for="name">Наименование:</label><br>
        <input th:value="${resident.getName()}" type="text" id="name" name="name" required>
        <div class="invalid-feedback">Обязательное поле для заполнения</div><br>

        <label for="description">Описание:</label><br>
        <textarea th:text="${resident.getDescription()}" id="description" name="description" rows="4" cols="50" required></textarea>
        <div class="invalid-feedback">Обязательное поле для заполнения</div><br>
        <h2>Изменить главное изображение</h2>
        <img th:src="@{'/residents/images/' + ${resident.getPhoto()}}" class="col-6 mb-3" alt="...">
        <input class="btn btn-outline-info" type="file" name="photoNew" accept="image/*"><br><br>
        <h2>Изменить галерею изображений</h2>
        <h3>Удалить изображения</h3>
        <div class="row mb-3">
        <div class="form-check col " th:each="imageName : ${galleryFiles}">
            <img th:src="@{'/residents/gallery/' + ${resident.getGallery()} + '/' + ${imageName}}" style="width: 200px; height: 200px; margin: 10px;">
                <input class="form-check-input" type="checkbox" name="deletedFiles" th:value="${imageName}" id="flexCheckDefault">
<!--            <label class="form-check-label" for="flexCheckDefault" th:text="${imageName}"></label><br>-->
            </div>
            </div>
        <h3>Добавить изображения</h3>
        <!-- Поле для загрузки новых файлов -->
        <input class="btn btn-outline-info mb-3" type="file" name="newFiles" multiple><br><br>

        <button sec:authorize="isAuthenticated() && hasAnyRole('ADMIN')" type="submit" class="btn btn-prom" onclick="validateForm()">Обновить</button>
        <button sec:authorize="isAuthenticated() && hasAnyRole('ADMIN')" type="button" class="btn btn-prom" onclick="window.history.back()">Назад</button>
    </form>
</div>
</body>
</html>
