<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${resident.getName()}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="mt-5 ">
        <h1 class="text-center" th:text="${resident.getName()}"></h1>
        <div class="row">
            <div class="col-lg-6 mb-5">
                <img th:src="@{'/residents/images/' + ${resident.getPhoto()}}" class="card-img-top img-border" alt="...">
            </div>
            <div class="col-lg-6 mb-5" >
               <p th:text="${resident.getDescription()}"></p>

            </div>
            <div th:if="${not galleryFiles.empty}">
                <!-- Карусель Bootstrap -->
                <div id="carouselExample" class="carousel carousel-dark slide mb-3" data-ride="carousel">
                    <div class="carousel-inner text-center">
                        <div th:each="imageName, iterStat : ${galleryFiles}" class="carousel-item" th:classappend="${iterStat.index == 0} ? 'active'">
                            <img th:src="@{'/residents/gallery/' + ${resident.getGallery()} + '/' + ${imageName}}" class="img-border">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Следующий</span>
                    </button>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col mb-5">
                <button type="button" class="btn btn-prom px-4 " onclick="window.history.back()">Назад</button>

            </div>
                <div class="col mb-5">
                    <a sec:authorize="!hasRole('ADMIN')" class="btn btn-prom" th:href="'/tours/addUserTour/' + ${resident.getId()}">Записаться на экскурсию</a>
            </div>
        </div>
        <div class="row">
            <div class="col mb-5">
                <a sec:authorize="isAuthenticated() && hasRole('ADMIN')" class="btn btn-sm btn-outline-success" th:href="'/residents/update/' + ${resident.getId()}">Обновить</a>
            </div>
            <div class="col mb-5">
                <a sec:authorize="isAuthenticated() && hasRole('ADMIN')" th:if="${!resident.isDeleted()}" class="btn btn-sm btn-outline-danger " th:href="'/residents/delete/' + ${resident.getId()}"
                   onclick="return confirm('Вы действительно хотите удалить резидента?')">Удалить</a>
                <a sec:authorize="isAuthenticated() && hasRole('ADMIN')" th:if="${resident.isDeleted()}" class="btn btn-sm btn-outline-warning " th:href="'/residents/restore/' + ${resident.getId()}">Восстановить</a>

            </div>
        </div>
    </div>
</div>
</body>
</html>
