<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Типы туров</title>
</head>
<body>
<div layout:fragment="content">

    <div class="row mb-3" >
        <div class="col">
            <a sec:authorize="isAuthenticated() && hasRole('ADMIN')"
                    th:href="@{/typeOfTours/add}"
                    class="btn btn-prom"
                    role="button"
                    style="float: right"
                    aria-disabled="true">Добавить тип тура</a>
        </div>
    </div>
    <div class="row" th:each="typeOfTour : ${typeOfTours}">
        <div class="col" >
            <div class="card mb-3" >
                <div class="row g-0">
                    <div class="col-lg-6">
                        <img th:src="@{'/typeOfTours/images/' + ${typeOfTour.getPhoto()}}" class="img-fluid rounded-start img-border" alt="...">
                    </div>
                    <div class="col-lg-6">
                        <div class="card-body">
                            <h3 class="card-title" th:text="${typeOfTour.getName()}"></h3>
                            <p class="card-text" th:text="${typeOfTour.getProgram()}"></p>
                            <p class="card-text" th:text="'Цена тура:' + ${typeOfTour.getPrice()} + 'руб'"></p>
                            <p class="card-text" th:text="'Продолжительность тура:' +  ${typeOfTour.getDuration()}  + 'ч'"></p>
                        </div>
                    </div>
                    <a sec:authorize="isAuthenticated() && hasRole('ADMIN')" class="btn btn-sm btn-outline-success" th:href="'/typeOfTours/update/' + ${typeOfTour.getId()}">Обновить</a>
                    <a sec:authorize="isAuthenticated() && hasRole('ADMIN')" th:if="${!typeOfTour.isDeleted()}" class="btn btn-sm btn-outline-danger mt-1" th:href="'/typeOfTours/delete/' + ${typeOfTour.getId()}"
                       onclick="return confirm('Вы действительно хотите тип тура?')">Удалить</a>
                    <a sec:authorize="isAuthenticated() && hasRole('ADMIN')" th:if="${typeOfTour.isDeleted()}" class="btn btn-sm btn-outline-warning mt-1" th:href="'/typeOfTours/restore/' + ${typeOfTour.getId()}">Восстановить</a>
                </div>
            </div>
    </div>
    </div>

</div>
</body>
</html>
