<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Обновить тип тура</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3 text-center">Обновить тип тура</h3>
    <form class="needs-validation" novalidate  method="POST" enctype="multipart/form-data" th:action="@{/typeOfTours/update}"
          th:object="${typeOfTourForm}" >
        <input type="hidden" name="id"
               th:value="${typeOfTour.getId()}">

        <label for="name">Наименование:</label><br>
        <input th:value="${typeOfTour.getName()}" type="text" id="name" name="name" class="form-control" required>
        <div class="invalid-feedback">Обязательное поле для заполнения</div><br>

        <label for="program">Программа:</label><br>
        <textarea th:text="${typeOfTour.getProgram()}" id="program" name="program" class="form-control" rows="4" cols="50"></textarea>

        <label for="duration">Продолжительность тура:</label><br>
        <input th:value="${typeOfTour.getDuration()}" type="text" id="duration" name="duration" class="form-control" required>
        <div class="invalid-feedback">Обязательное поле для заполнения</div><br>

        <label for="price">Цена тура:</label><br>
        <input th:value="${typeOfTour.getPrice()}" type="text" id="price" name="price" class="form-control" required>
        <div class="invalid-feedback">Обязательное поле для заполнения</div><br>

        <h2>Изменить изображение</h2>
        <img th:src="@{'/typeOfTours/images/' + ${typeOfTour.getPhoto()}}" class="col-6 mb-3" alt="...">
        <input class="btn btn-outline-info" type="file" name="photoNew" accept="image/*"><br><br>


        <button type="submit" class="btn btn-prom" onclick="validateForm()">Обновить</button>
        <button type="button" class="btn btn-prom" onclick="window.history.back()">Назад</button>
    </form>
</div>
</body>
</html>
