<div  th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
        <div class="container">
            <div class="row  text-center">
                <div class="col-lg-4">
                    <h6> <a href="/" ><img class="logotip header__logo-picture" src="/img/logo1.svg"></a>
                    </h6>
                </div>
                <div class="col-lg-2">
                    <h6> <a class="nav-link" aria-current="page" href="/about">О нас</a></h6>
                </div>
                <div class="col-lg-2">
                    <h6>  <a class="nav-link" aria-current="page" href="/residents">Резиденты</a></h6>
                </div>
                <div class="col-lg-2">
                    <h6>  <a class="nav-link" aria-current="page" href="/typeOfTours">Типы туров</a></h6>
                </div>
                <div class="col-lg-2">
                    <h6>  <a class="nav-link" aria-current="page" href="/reviews">Отзывы</a></h6>
                </div>
            </div>
            <div class="row gy-5">
                <div class="col-lg-4">
                    <p class="text-justify">398010, Липецкая область, Грязинский район, город Грязи, территория ОЭЗ ППТ Липецк, стр. 4</p>
                </div>
                <div class="col-lg-4">
                    <ul class="social-icons text-center">
                        <li><a  href="https://web.telegram.org/z/#-1675399106"><img src="/img/telegram.svg" alt="logo"></i></a></li>
                        <li><a  href="https://vk.com/public212311670"><img src="/img/communication.svg" alt="logo"></a></li>
                    </ul>
                </div>
                <div class="col-lg-4 text-center">

                    <div class="current-menu-item ">
                        <a  aria-current="page" href="/policy/personalDataProcessingPolicy">Политика конфиденциальности</a>
                    </div>
                </div>
            </div>

            <hr>
        </div>
</div>

