<div class="header addFix" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     th:fragment="header">
    <nav class="navbar navbar-inverse navbar-expand-lg bg-body-tertiary addFix">
        <div class="container-fluid">
            <a class="navbar-brand header__logo-picture" href="/" style="color: whitesmoke">
                <img src="/img/logo1.svg" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi" fill="currentColor" viewBox="0 0 16 16">
	  <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
	</svg></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/about">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/residents">Резиденты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/typeOfTours">Типы туров</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/reviews">Отзывы</a>
                    </li>

                </ul>
                <div class="text-center">
                    <a class="nav-link" aria-current="page" href="https://web.telegram.org/z/#-1675399106">Подпишись в Telegram</a>


                </div>

                <div class="text-center" sec:authorize="isAuthenticated()">
                    <a class="header__user-picture" aria-current="page"
                       th:href="'/users/profile/' + ${#authentication.getPrincipal().getId()}">
                        <img src="/img/user_active.svg" alt="logo">
                    </a>
                </div>

                <div class="text-center" sec:authorize="!isAuthenticated()">
                    <a class="header__user-picture" aria-current="page"
                       href="/login">
                        <img src="/img/user.svg" alt="logo">
                    </a>
                </div>
<!--                <form class="d-flex" sec:authorize="isAuthenticated()">-->
<!--                    <span th:text="${#authentication.getPrincipal().getUsername()}"></span>-->
<!--                </form>-->
<!--                <div sec:authorize="isAuthenticated() && !hasRole('ADMIN')">-->
<!--                    <a class="nav-item active" style="float: right"-->
<!--                       th:href="'/users/profile/' + ${#authentication.getPrincipal().getId()}">Профиль</a>-->
<!--                </div>-->
<!--                <form class="d-flex" sec:authorize="!isAuthenticated()">-->
<!--                    <a href="/login" class="btn btn-primary" role="button" aria-disabled="true">Войти</a>-->
<!--                </form>-->
<!--                <form class="d-flex" sec:authorize="isAuthenticated()">-->
<!--                    <a href="/logout" class="btn btn-primary" role="button" aria-disabled="true">Выйти</a>-->
<!--                </form>-->

            </div>
        </div>
    </nav>

</div>
