<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Пользователи </title>
</head>
<body>
<div layout:fragment="content">

    <div class="row" >
        <h3 class="mt-3 mb-3  text-center">Информация о зарегистрированных на тур пользователях</h3>
        <div class="col-lg-4" th:each="user : ${users}">
            <div class="card text-center mb-3" >
                <div class="card-body">

                    <h5 class="card-title" th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}"></h5>
                    <p class="card-text" th:text="${user.getEmail()}"></p>
                    <p class="card-text" th:text="${user.getPhone()}"></p>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
