
 @font-face {
 	font-family: 'Stolzl';
 	src: url(/fonts/stolzl_regular.otf);
 }

 /* Жирный */
 @font-face {
 	font-family: 'Stolzl bold';
 	src: url(/fonts/stolzl_bold.otf);
 }

  @font-face {
  	font-family: 'Stolzl book';
  	src: url(/fonts/stolzl_book.otf);
  }
    @font-face {
    	font-family: 'Stolzl light';
    	src: url(/fonts/stolzl_light.otf);
    }
      @font-face {
        	font-family: 'Stolzl medium';
        	src: url(/fonts/stolzl_medium.otf);
        }
 html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}


 body {
	height: 100%;
	font-family: 'Stolzl book', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	/*background: radial-gradient(rgb(145, 37, 218), rgb(39, 7, 92));*/
	background: none;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;

}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
    color : #2A106B;
}
h3 {
	font-size: 18px;
    color : #2A106B;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
	text-decoration: none;
}


abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}


small {
	font-size: 80%;
}


sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}


img {
	border-style: none;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}


button,
select {
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}


button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}


fieldset {
	padding: 0.35em 0.75em 0.625em;
}


legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}


progress {
	vertical-align: baseline;
}
move the default vertical scrollbar in IE 10+.
 */
textarea {
	overflow: auto;
}


[type="checkbox"],
[type="radio"] {
	position: absolute;
	box-sizing: border-box;
	padding: 0;
}


[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}


[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}


[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}


details {
	display: block;
}


summary {
	display: list-item;
}


template {
	display: none;
}


[hidden] {
	display: none;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}


body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: 'Stolzl', sans-serif;
	//font-family: 'Rubik', sans-serif;
	/* font-size: 1rem; */
	line-height: 1.5;

}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}


dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #fff;
	font-family: "Courier 10 Pitch", courier, monospace;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}


body {
	background: #fff;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}



ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto;
	max-width: 100%;
}
.img-border{
border-radius: 20px !important;
}

figure {
	margin: 1em 2em;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}


a {
	color: #000000;
	text-decoration: none;
}

a:visited {
	color: #000000;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #d43b57;
	text-decoration: none;
}

a:focus {
	outline: thin dotted;
	text-decoration: none;
}

a:hover,
a:active {
	outline: 0;
	text-decoration: none;
}


/* button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	position: relative;
		display: inline-block;
		font-size: 100%;
		font-weight: 700;
		color: rgb(209,209,217);
		text-decoration: none;
		text-shadow: 0 -1px 2px rgba(0,0,0,.2);
		padding: 0.6em 1em 0.4em;
		outline: none;
		border-radius: 3px;
		background: linear-gradient(rgb(253 102 102), rgb(122 58 58)) rgb(110,112,120);
		box-shadow:
		 0 1px rgba(255,255,255,.2) inset,
		 0 3px 5px rgba(0,1,6,.5),
		 0 0 1px 1px rgba(0,1,6,.2);
		transition: .2s ease-in-out;

} */

/* button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background: linear-gradient(rgb(114 45 45), rgb(181 69 69)) rgb(126,126,134);
} */

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	padding: 12px;
	border-radius: 30px !important;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}


.header {
	position: fixed;
	width: 100%;
	z-index: 50;
	border-radius: 0;
	top: 0px;
}
.addFix {
	position: sticky;
	background: rgb(255 255 255); /* Цвет для меню менять тут*/
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}
.addFix_home {
	position: sticky;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}
.navbar-inverse {
	background: transparent;
}
.navbar-inverse .navbar-toggle {
	background-color: #f5f5ff;
	background: #f5f5ff;  border: 0;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background: #aa6fee;
	border: 0;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: black;
}
.text-blue{
color: #15205E;
}
.text-azure{
color: #387ACA;
}
.navbar-inverse .navbar-toggle:hover .icon-bar {
	background: #fff;
}
.navbar-nav ul {
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}

/* применяем inline-block позиционирование к элементам навигации */
.navbar-nav ul li {
	margin: 20px 1px 20px 1px;
	display:inline-block;
	background-color: rgb(255 255 255);;
	}
.navbar-nav ul {
	display: none;
	position: absolute;
	top: 100%;
	background-color: rgb(255 255 255);;
}

/* отображаем выпадающий список при наведении */
.navbar-nav li:hover > ul {
	display:inherit;
}

/* первый уровень выпадающего списка */
.navbar-nav ul li {
	min-width:170px;
	float:none;
	display:list-item;
}
.hero-text {
	color: #676e73;
	width: 83%;
	text-align: center;
	margin: 23% auto 24px auto;
	font-family: 'Evolventa', sans-serif;
}
.hero-text p {
	font-family: 'Evolventa', sans-serif;
	padding: 0;
	margin: 12px 8% 0;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}
.b1{
    background: #FCFCFC;
    padding: 15px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.29) !important;
    border-top: 4px solid #27AFD3;
}


/*----Nav ----*/
.navbar-brand-home>img {
    display: flex;
    position: absolute;
}
.header__logo-picture-home {
    width: 100px;
    height: 83px;
}

.header .navbar-brand {
	padding: 0px 15px;
	line-height: 18px;
	height: 50px;/*color:#A43E89;*/
}
.navbar-brand b {
	color: #A43E89;
	font-family: 'Evolventa', sans-serif;
	font-weight: 900;
}
.navbar-brand b i {
	color: #fff;
	font-style: normal;
}
.logo {
	font-size: 2.2em;
	text-shadow: none;
	margin: 8px 0 0 0;
}
.logo:hover {
	color: #5A5A5A;
}
.header .navbar {
	margin: 0;
	background: transparent;
	border: 0;
}
.hero-text2{
	padding:30px 0;
	text-align:center;
}
.hero-text2 h3{
font-size: 20px;
color: #A3A3A3;
line-height: 36px;
text-align: center;
}
.navbar-inverse .navbar-nav > li > a {
	font-family: 'Stolzl', sans-serif;
	color: rgb(0, 0, 0);
	font-size: 1.2em;
	line-height: normal;
	margin: 7px;
	padding: 6px 22px !important;
	border-radius: 5px;
	font-weight: 400;
}
.navbar-inverse .navbar-nav > li >ul>li > a {
	color: rgb(0, 0, 0);
	font-size: 1.2em;
	line-height: normal;
	margin: 17px;
	padding: 6px 19px 1px 23px!important;
	border-radius: 5px;
	font-weight: 400;
}
}
//.navbar-inverse .navbar-nav > li >ul>li:hover > a {
//	color: #d43b57 !important;
//}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: #fff;
	background: none;
	/*border: 1px solid #FFFFFF;*/
	border-radius: 0px;
}
.navbar-inverse .navbar-nav > .active > .scroll-link, .navbar-inverse .navbar-nav > .active > .scroll-link:hover, .navbar-inverse .navbar-nav > .active > .scroll-link:focus {
	color: #d43b57;
	background: none;
	border: 1px solid #d43b57;
	border-radius: 0px;
}
.navbar-inverse .navbar-nav > .active {
       background: linear-gradient(15deg, #922990, #EE4054);
       border: 1px solid transparent;
       white-space: nowrap;
       text-align: center;
       font-size: 16px;
       line-height: 1;
       color: #fff;
}
.d-flex{
       color: #fff;
}
.d-flex:hover{
       color: #d43b57;
}
.navbar-nav > li:hover  {
        content: "";
         position: relative;
         inset: 0;
         border-radius: 50px;
 border: double 3px transparent;
 background-image: linear-gradient(white, white), radial-gradient(circle at top left, #922990 0%, #EE4054 100%);
 background-origin: border-box;
 background-clip: padding-box, border-box;


}
.navbar-nav > li  {
  border-radius: 50px;
 border: 3px solid transparent;
          transition-duration: .3s;
            transition-timing-function: ease;
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: center;
                	margin: 10px;

}
.header .navbar-nav > li > a {
	padding: 25px 18px;
}
/*----/Nav ----*/

.header__logo-picture {
    width: 100px;
    height: 70px;
    margin: 0px 60px 0px 30px;

}
.header__user-picture{
width: 60px;
    height: 70px;
    margin: 5px 30px 0px 60px;
}
.header__user-picture:hover{
-webkit-filter: brightness(85%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

}
/* Боковое меню */
.nav1 {
	position: fixed;
	top: 20px;
	width: 15%;
	min-width: 200px;
	margin: 80px 3%;
	background: #fff; }
	.btn_menu {
		background: #bbbbbb;

	}


	.nav1 ul {
	list-style: none;
	padding: 0px; }

	.nav1 li {
	list-style: none;
	float: none;
	width: 100%; }

	.nav1 li a {
	display: block;
	padding: 20px;
	position: relative;
	z-index: 2;
	text-decoration: none;
	color: #444; }

	.nav1 li a:hover {
	border-bottom: 0px;
	color: #fff; }

	.nav1 li a { border-left: 10px solid #1f176a; }


	.nav1 li a:after {
	content: "";
	height: 100%;
	left: 0;
	top: 0;
	width: 0px;
	position: absolute;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	z-index: -1; }

	.nav1 li a:hover:after { width: 100%; }
	.nav1 li a:after { background: #1f176a; }
	/* Документы */
	.accordion {
		transform: translateZ(0);
		background: white;
		border-bottom: 1px solid lightgray;
		border-left: 1px solid lightgray;
		border-right: 1px solid lightgray;
		margin: 8px 0px 0px 400px;

	  }

	  .accordion>.accordion-toggle {
		display: none;
		position: absolute;
		opacity: 0;
	  }

	  .accordion>label {
		display: block;
		position: relative;
		height: 50px;
		line-height: 50px;
		padding: 0 20px;
		border-top: 1px solid lightgray;
		border-bottom: 1px solid lightgray;
		background: #ecebec;
		color: #555;
		font-size: 15px;
		font-weight: bold;
		cursor: pointer;
	  }

	  .accordion>label:after {
		content: '';
		position: absolute;
		top: 12px;
		right: 20px;
		width: 12px;
		height: 12px;
		border-left: 2px solid #555;
		border-top: 2px solid #555;
		transform: rotate(-135deg);
		transition: 0.4s transform;
	  }

	  .accordion>section {
		overflow: hidden;
		height: 0;
		transition: all .4s;
	  }

	  .accordion>.accordion-toggle:checked~label:after {
		transform: rotate(45deg);
		top: 16px;
	  }

	  .accordion>.accordion-toggle:checked~section {
		height: auto;
	  }

	  .accordion>section p {
		margin: 15px 0;
		padding: 0 20px;
	  }

	  .header_name{
		display: flex;
		list-style: none;
	position: absolute;
	top: 20px;
	right: 130px;
	  }
	  .header_text{
		display: flex;
		list-style: none;
	position: absolute;
	top: 20px;
	right: 130px;
	  }
	  .header_search{
		display: flex;
		list-style: none;
	position: absolute;
	top: -11px;
	right: 265px;
	  }
	  .header_button{
		display: flex;
		list-style: none;
	position: absolute;
	top: 10px;
	right: 50px;
	  }

	  /* faqs   */


	p {
		line-height: 1.4em;
		color: #000000;
	}

	.faq-title {
		font-size: 2em;
		margin: 0.4em 0;
	}

	div.seperator {
		width: 18em;
		background-color: #1f176a;
		height: 0.17em;
		margin-left: -1.8em;
	}

	.faq-list > div {
		border-bottom: 0.07em solid #ededed;
		padding: 1.5em 0em;
	}

	.faq-list > div:last-child {
		border: unset;
	}

	details > summary {
		list-style: none;
	}
	details > summary::-webkit-details-marker {
		display: none;
	}

	summary {
		font-size: 1.4em;
		font-weight: bold;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transition: all 0.3s ease;
	}

	summary:hover {
		color: #e31b1b;
	}

	details[open] summary ~ * {
		animation: sweep .5s ease-in-out;
	}

	@keyframes sweep {
		0%    {opacity: 0; margin-left: -10px}
		100%  {opacity: 1; margin-left: 55px}
	}

	details[open] summary {
		color: #e31b1b;
	}

	details[open] p {
		border-left: 2px solid #e31b1b;
		margin-left: 55px;
		padding-left: 25px;
		opacity: 100;
		transition: all 3s ease;
	}

	details[open] summary:after {
		content: "-";
		font-size: 3.2em;
		margin: -33px 0.35em 0 0;
		font-weight: 200;
	}

	.faq-body {
		width: 70em;
		margin: 4em auto;
		box-shadow: 0px 0px 16px #5b5b5b;
		border-radius: 0.2em;
		padding: 5em;
		background-color: #fff;
	}

	.faq-list {
		width: 55em;
		margin: 1em auto;
		padding: 2em 0;
	}

	summary::-webkit-details-marker {
		display: none;
	}

	summary:after {
		background: transparent;
		border-radius: 0.3em;
		content: "+";
		color: #e31b1b;
		float: left;
		font-size: 1.8em;
		font-weight: bold;
		margin: -0.3em 0.65em 0 0;
		padding: 0;
		text-align: center;
		width: 25px;
	}
	/* button */
	a.button28 {
		position: relative;
		display: inline-block;
		font-size: 100%;
		font-weight: 700;
		color: rgb(216, 215, 215);
		text-decoration: none;
		text-shadow: 0 -1px 2px rgba(0,0,0,.2);
		padding: .9em 6em;
		outline: none;
		border-radius: 3px;
		background: linear-gradient(#ee4054, #97288b) rgb(110,112,120);
		box-shadow:
		 0 1px rgba(255,255,255,.2) inset,
		 0 3px 5px rgba(0,1,6,.5),
		 0 0 1px 1px rgba(0,1,6,.2);
		transition: .2s ease-in-out;
	  }
	  a.button28:hover:not(:active) {
		background: linear-gradient(#ff8190, #9e5c97) rgb(126,126,134);
	  }
	  a.button28:active {
		top: 1px;
		background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
		box-shadow:
		 0 0 1px rgba(0,0,0,.5) inset,
		 0 2px 3px rgba(0,0,0,.5) inset,
		 0 1px 1px rgba(255,255,255,.1);
	  }
	  .button-wrapper{
		display: flex;
		justify-content: space-around;
		margin-top: 10px;
	  }
	  label {
		display:  block;
		margin-bottom: 5px;
		font-weight: bold;
		color: #2d2d2d;
	}
	.form-control {
		border: none;
		padding: 22px 4px;
		outline: none;
		color: #5d55f7;
		margin: 0;
		width: 210px;
		max-width: 100%;
		display: block;
		font-size: inherit;
		border-radius: 0px !important;
		width: 99%;
		border: 1px solid #5d55f7;
	}
	input[type=text], select,textarea {
		width: 100%;
		padding: 12px;
		border: 1px solid #ccc;
		border-radius: 30px !important;
		box-sizing: border-box;
	  }

		.wrapper {
			position: fixed;
			width: 100%;

			}



	  @media (max-width: 1200px) {

		.links_grid{
			grid-template-columns: 1fr !important;

	}
	.links{
		width: 380px !important;

	}
	a.button28 {
		padding: 0.9em 1em;
	}
		#menu__toggle {
			opacity: 0;
		  }
		#menu__toggle:checked + .menu__btn > span {
			transform: rotate(45deg);
		  }
		  #menu__toggle:checked + .menu__btn > span::before {
			top: 0;
			transform: rotate(0deg);
		  }
		  #menu__toggle:checked + .menu__btn > span::after {
			top: 0;
			transform: rotate(90deg);
		  }
		  #menu__toggle:checked ~ .menu__box {
			left: 0 !important;
		  }
		  .menu__btn {
			position: fixed;
			top: 20px;
			left: 20px;
			width: 26px;
			height: 26px;
			cursor: pointer;
			z-index: 1;
		  }
		  .menu__btn > span,
		  .menu__btn > span::before,
		  .menu__btn > span::after {
			display: block;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #616161;
			transition-duration: .25s;
		  }
		  .menu__btn > span::before {
			content: '';
			top: -8px;
		  }
		  .menu__btn > span::after {
			content: '';
			top: 8px;
		  }

		  .menu__box {
			display: block;
			position: fixed;
			top: 0;
			left: -100%;
			width: 300px;
			height: 100%;
			margin: 0;
			padding: 80px 0;
			list-style: none;
			background-color: #ECEFF1;
			box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
			transition-duration: .25s;
		  }
		  .menu__item {
			display: block;
			padding: 12px 24px;
			color: #333;
			font-family: 'Roboto', sans-serif;
			font-size: 20px;
			font-weight: 600;
			text-decoration: none;
			transition-duration: .25s;
		  }
		  .menu__item:hover {
			background-color: #CFD8DC;
		  }
		  .header_name{
			display: block;
			right: auto;
			top: auto;
			position: sticky;

		  }
		  .header_text{
			display: block;

		  }
		  .header_search{
			display: block;
			right: auto;
			top: auto;
			position: sticky;

		  }
		  .header_button{
			display: block;

		  }
		  .header_menu{
			display: block !important;
			right: auto;
			top: auto;
			position: sticky;

		  }
		  .header_menu_name{
			display: none !important;

		  }
		  .faq-list {
			width: auto;
			margin: 1em auto;
			padding: 2em 0;}
			.faq-body {
				width: 100%;
				margin: 0em auto;
				padding: 0em;
				box-shadow:none;


	  }}
	  @media (max-width: 1700px) and (min-width: 1060px) {
		.links_grid {
			grid-template-columns: 1fr 1fr !important;

		}
	}
		@media  (max-width: 400px) {
			.links_text {

				padding: 138px 163px 31px 28px !important;

			}}
	  @media (max-width: 1700px) {

		.nav1 {
			position: relative;
			top: 0px;
			width: 100%;
			min-width: 200px;
			margin: 0%;
			background: #fff;
		}
		.accordion {

			margin: 0px;
		}
	  }

	  .header_menu{
		display: none;


	  }
	  .header_menu_name{
		display: block;
			right: auto;
			top: auto;
			position: sticky;

	  }
	  .middle {
		width: 100%;
		position: relative;
	}
	.middle-index {
		width: 100%;
		position: fixed;
	}
	.middle:after {
		display: table;
		clear: both;
		content: '';
	}

	.content-nadpis {
		width: 100%;
		height: 10%;
		max-height: 100px;
		margin-top: 5%;
		font: 28px/36px Arial, sans-serif;
		text-align: center;
		color: #ac0000;
	}
	.content-picture img {
		display: block;
		text-align: center;
		margin-top: 5%;
		width: 30%;
		max-width: 200px;
		float: left;
		color: #aa1462;
	}
	.content-text {
		width: 100%;
		float: left;
		font: 40px/30px Arial, sans-serif;
		/*margin-top: 5%; */
		text-align: center;
		color: #aa1462;

	}
	.content-b {
		width: 100%;
		float: left;
		font: 40px/15px Arial, sans-serif;
		/*margin-top: 5%; */
		text-align: center;
		color: #aa1462;

	}
	.content-text-index {
		width: 100%;
		float: left;
		font: 40px/30px Arial, sans-serif;
		/*margin-top: 5%; */
		text-align: center;
		color: #aa1462;
		background: #ffffff;

	}
	.dolzhnost {
		font-size: 60%;
		line-height: 0.1em;
	}

	.content-text img {
		text-align: center;
		height: auto;
		width: 110%;
	}

	.birthday {
		text-align: center;
		display: block;
		position: absolute;
width: 224px;
height: auto;
left:40px;
top: 292px;

background: #F3F3F3;
box-shadow: -4px 5px 4px rgba(0, 0, 0, 0.25);
	}
	.holiday {
		text-align: center;
		display: block;
		position: absolute;
width: 224px;
height: auto;
top: 292px;
float: right;
right:40px;
background: #F3F3F3;
box-shadow: -4px 5px 4px rgba(0, 0, 0, 0.25);
	}
	.red_text_birthday {
		display: block;
		position: relative;
		margin: 10px;
	}
	.red_text_birthday p {
color: #D43B57;
	}
	.big_text_birthday {
		position: relative;
font-size: 20px;
font-weight: 500;
transition-delay: .05s;
margin: 10px;
	}
	.text_birthday {
		margin: 10px;
		position: relative;
font-size: 15px;
margin: 10px;
	}
	@media (max-width: 1630px) {
		.birthday {
			text-align: center;
			display: block;
			position: sticky;
	width: auto;
	left:auto;
	top: auto;

		}
		.holiday {
			text-align: center;
			display: block;
			position: sticky;
	width: auto;
	height: auto;
	top: auto;
	float: none;
	right:0;

		}
		.opros_r {
			display: block;
			position: sticky !important;
	margin: 2rem !important;
    width: auto;
    left: auto;
    top: auto;
		}
		.pic_op_r {
			display: none;
		}
		.pic_op_l {
			display: none;
		}
	}
	.opros_r {
		content: '';
		display: block;
		clear: both;
height: 168px;
margin: 5rem 5rem ;
background: #ffffff;
box-shadow: -9px 11px 11px rgba(0, 0, 0, 0.25);
	}
	.pic_op_r {
		float: right;
		width: 376px;
		height: 168px;

	}
	.text_r {
		overflow: hidden;
		margin-left: 4rem;
		padding: 5px;
		text-align: left;

	}

	.pic_op_l {
		float: left;
		width: 376px;
		height: 168px;

	}
	.text_l {
		overflow: hidden;
		margin-right: 4rem;
		padding: 5px;
		text-align: right ;
	}
	.name_glav {

font-style: normal;
font-weight: 600;
font-size: 35px;
line-height: 42px;
text-align: center;
	}

	.links_grid{
		    display: grid;
			justify-content: center;
			align-items: center;
			grid-template-columns: 1fr 1fr 1fr;
			padding: 4rem;
	}

	.links_text:hover  {
		backdrop-filter: none;
	}
	.links{

		margin: 1rem 1rem ;
		content: '';
		display: block;
		clear: both;
		height: 196px;
		width: 500px;
		background: #000000;
	box-shadow: -11px 9px 8px rgba(0, 0, 0, 0.25);
	}
	.links_text {
		-webkit-text-stroke-width: 0.3px;
		-webkit-text-stroke-color: #000000;
		display: flex;
		text-transform: uppercase;
		overflow: hidden;
		padding: 111px 273px 31px 22px;
		text-align: right ;
		font-weight: 600;
font-size: 22px;
line-height: 27px;
/* identical to box height */

text-align: center;
backdrop-filter: blur(5px);
color: #FFFFFF;
	}

.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
 display: none;
}
footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
 display: block;
}


	.site-footer
{
  background-color:rgb(255 255 255);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;

}
.site-footer hr
{
  border-top-color:#d43b57;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#000000;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#3d3d3d;
}
.site-footer a:hover
{
  color:#d43b57;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#d43b57;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}


.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
.col-12 .card {
width: 100%!important;
}
.form-floating>label{
position: relative!important;
}
.social-icons a {

    width: 80px!important;
   height: 80px!important;
}
.navbar-inverse .navbar-nav > li > a {
    font-size: 2em;
}
h1 {
    font-size: 3em!important;
}
h2 {
    font-size: 2.5em!important;
}
h3 {
    font-size: 2em!important;
}
h4 {
    font-size: 1.8em!important;
}
h5 {
    font-size: 1.5em!important;
}
    p, label {
        font-size: 1.7rem!important;
    }
    a , button{
            font-size: 1.8rem!important;
        }
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
  .header__user-picture{

      margin: 0px;
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a.telega{


  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:20%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a.vk{


	font-size:16px;
	display:inline-block;
	line-height:44px;
	width:44px;
	height:44px;
	text-align:center;
	margin-right:8px;
	border-radius:20%;
	-webkit-transition:all .2s linear;
	-o-transition:all .2s linear;
	transition:all .2s linear
  }
.social-icons a{

	font-size:16px;
	display:inline-block;
	line-height:44px;
	width:44px;
	height:44px;
	text-align:center;
	margin-right:8px;
	border-radius:100%;
	-webkit-transition:all .2s linear;
	-o-transition:all .2s linear;
	transition:all .2s linear
  }
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#ffffff
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
@media screen and (max-width: 800px) {
	table.delivery thead {
	  display: none;
	}
	table.delivery tr {
	  display: block;
	  margin-bottom: 1rem;
	  border-bottom: 2px solid #e8e9eb;
	}
	table.delivery td {
	  display: block;
	  text-align: right !important;
	}
	table.delivery td:before {
	  content: attr(aria-label);
	  float: left;
	  font-weight: bold;
	}
  }
  table.delivery {width: 65%; border: 0px; border-collapse: collapse;}
table.delivery thead {font-weight: bold;}
table.delivery td { border-bottom: 1px solid #e8e9eb; text-align: center;}
.template{
	padding: 0 0 10px 50px;
	text-align: center;
	}
	.block{
	padding-right: 15px;
	padding-left: 15px;
	}
	.bender{
	max-width: 400px;
	}
	.current-menu-item a{
	 text-decoration: underline #d43b57 1px !important;
	}
	.btn-color{
		background-color: #d43b57;
	}
	.containers{
		margin-top: 9px;
	}

	.content {
		min-height: calc(100vh - 420px);
	  }
	  .figurea {
		display: grid;
		/* border-radius: 1rem; */
		overflow: hidden;
		cursor: pointer;
		box-shadow: -11px 9px 8px rgba(0, 0, 0, 0.25);
	  }
	  .figurea > * {
		grid-area: 1/1;
		transition: .4s;
	  }
	  .figurea figcaption {
		display: grid;
		align-items: end;
		font-family: sans-serif;
		font-size: 2.3rem;
		font-weight: bold;
		color: #0000;
		padding: .75rem;
		background: var(--c,#0009);
		clip-path: inset(0 var(--_i,100%) 0 0);
		-webkit-mask:
		  linear-gradient(#000 0 0),
		  linear-gradient(#000 0 0);
		-webkit-mask-composite: xor;
		-webkit-mask-clip: text, padding-box;
		margin: -1px;
	  }
	  .figurea:hover figcaption{
		--_i: 0%;
	  }
	  .figurea:hover img {
		transform: scale(1.2);
	  }
	  @supports not (-webkit-mask-clip: text) {
		.figurea figcaption {
		 -webkit-mask: none;
		 color: #fff;
		}
	  }


.wp-pagenavi {
	clear: both;
	display: inline-block;
}

.wp-pagenavi a, .wp-pagenavi span {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
	margin: 0 7px;
	box-shadow: -11px 9px 8px rgba(0, 0, 0, 0.25);
}
.border {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 20px;
    margin: 40px 0;
    padding: 35px 10px;
}
.wp-pagenavi a:hover, .wp-pagenavi span.current {
	border-color: #000;
}

.wp-pagenavi span.current {
	background-color: #d43b57;
	color: white;
	border: 1px solid #d43b57;
}



  .wp-pagenavi a:hover:not(.active) {background-color: #ddd;}
  .header_button a{
	display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	color: #fff;
    background-color: #1f176a;
    border-color: #191257;
  }
  .header_button a:hover{
    color: #fff;
    background-color: #5b53b4;
    border-color: #1f176a;
  }
  .btn-prom{
        content: "";
           position: relative;
           inset: 0;
           border-radius: 50px;
   border: double 3px transparent !important;
   background-image: linear-gradient(white, white), radial-gradient(circle at top left, #922990 0%, #EE4054 100%);
   background-origin: border-box;
   background-clip: padding-box, border-box;
   line-height: 1.5!important;
  }
  .btn-prom:hover{
          background: linear-gradient(15deg, #922990, #EE4054);
                  border: 3px solid transparent;

                  text-align: center;
                  font-size: 16px;
                  color: #fff;
    }
.card{
border-radius: 20px;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    flex: 1;
}

footer {
    margin-top: auto;
}

footer {
    background-color: #f8f9fa;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
}
